# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Universidade\3ano\TQS\TQSFinalProject\EasyDelivers\Platform\EasyDeliversAdmin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
