<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Easy Deliveries - Login</title>
    <link th:href="@{/css/entering.css}" rel="stylesheet" />
</head>
<body>
<div id="login-box">
    <div>
        <h1>Login</h1>
        <form th:action="@{/dashboard}" method="post">
            <input type="text" name="email" placeholder="E-mail" />
            <input type="password" name="password" placeholder="Password" />

            <input type="submit" name="signup_submit" value="Login" />
            <br/>
        </form>
    </div>
</div>
</body>
</html>